<nav class="mb-4">
  <ol
    property="breadcrumb"
    class="breadcrumbs"
    vocab="https://schema.org/"
    typeof="BreadcrumbList"
  >
      {% for crumb in breadcrumbs %}
        <li
          class="inline-block
                 {% unless forloop.first %}
                    text-[#afbbc4]
                    before:content-['/']
                 {% endunless %}
                 "
          property="itemListElement"
          typeof="ListItem"
        >
          {% unless forloop.last %}
            <a
              property="item"
              typeof="{{ crumb.page.schema_type }}"
              href="{{ crumb.page.url }}"
              class="text-clink hover:underline"
            >
              {% if crumb.page.crumbtitle %}
                <meta property="name" content="{{ crumb.page.title }}">
                <span property="alternateName">{{ crumb.page.crumbtitle }}</span>
              {% else %}
                <span property="name">{{ crumb.page.title }}</span>
              {% endif %}
            </a>
          {% else %}
            <span
              property="item"
              typeof="{{ crumb.page.schema_type }}"
              resource="{{ crumb.page.url }}"
              class="text-tcolor"
            >
              {% if crumb.page.crumbtitle %}
                <meta property="name" content="{{ crumb.page.title }}">
                <span property="alternateName">{{ crumb.page.crumbtitle }}</span>
              {% else %}
                <span property="name">{{ crumb.page.title }}</span>
              {% endif %}
            </span>
          {% endunless %}
          <meta property="position" content="{{ crumb.position }}">
        </li>
      {% endfor %}
   </ol>
</nav>
