{% assign refs=site.posts | sort: "date" | reverse | map: "ref" | uniq %}
<ul class="space-y-4">
{% for ref in refs  limit: include.limit %}
  {% assign translations=site.posts | where: "ref", ref | sort: "lang" %}
  {% assign post=translations | where: "lang", page.lang | first %}
  {% unless post %}
    {% assign post=translations | first %}
  {% endunless %}
  <li>
    <article>
      <h2 class="text-2xl">
        <a
          href="{{ post.url | relative_url }}"
          title="{{ post.title }}"
          class="text-clink hover:underline"
        >
          {{ post.title | escape }}
        </a>
      </h2>
      <div class="italic space-x-4">
        <time class="inline-block" datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
          {% include date.html date=post.date %}
        </time>
      </div>

      <div class="prose mt-2">
        {{ post.excerpt | markdownify }}
      </div>
    </article>
  </li>
{% endfor %}
</ul>
