{% assign words=site.pages | where: "in_dictionary", true | where: "lang", page.lang | sort: include.sort-by %}
{% if include.reverse %}
  {% assign words=words | reverse %}
{% endif %}

{% for word in words %}
  <li>
    <a
      href="{{ word.url | absolute_url }}"
      title="{{ word.title | escape }}"
    >
      {{ word.title | escape }}

      {% assign trs=site.pages | where: "ref", word.ref | where_exp: "x", "x.lang != word.lang" | sort: "lang" %}
      {% if trs.size > 0 %}
        (
          {%- assign first=true -%}
          {%- for tr in trs -%}
            {{ site.data.i18n.dictionary.language-names[page.lang][tr.lang] }}
            {{ tr.title }}

            {%- if first -%}
              ,
              {% assign first=false %}
            {% endif %}
          {%- endfor -%}
        )
      {% endif %}
    </a>
    —
    {{ word.definition }}
  </li>
{% endfor %}
