.home {
  @extend .main-content;

  display: flex;
  flex-direction: column;

  @include small {
    padding: 1rem 1rem;
  }

  @include medium {
    padding: 2rem 1rem;
  }

  @include large {
    padding: 2rem 1rem;
    max-width: 72rem;
  }

  .lists {
    display: flex;
    flex-direction: column;

    @include large {
      flex-direction: row;
    }

    @include medium {
      flex-direction: row;
    }

    > section {
      flex: 1;
      margin-right: 2rem;

      > h1 {
        text-align: center;
      }
    }
  }

  .lists :last-child {
    margin-right: 0;

    .dictionary-list {
      list-style-type: none;

      li {
        a {
          font-weight: bold;
        }

        padding-bottom: 1rem;
      }
    }
  }
}


.home-personal {
  display: flex;
  flex-direction: row;

  @include small {
    flex-direction: column;
  }

  .photo {
    flex: 1;

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }

    figcaption {
      text-align: center;
    }

    @include small {
      padding-bottom: 1rem;
    }

    @include large {
      padding-right: 2rem;
      width: 150rem;
    }

    @include medium {
      padding-right: 1rem;
      width: 100rem;
    }
  }

  .home-content {
    flex: 2;
  }

  .social-links {
    list-style-type: none;
    font-size: 2rem;
    padding: 0;

    li {
      float: left;
      margin-right: 1rem;
    }
  }
}
