.page-header-home {
  @extend .page-header;

  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  h1 {
    margin-bottom: 1rem;
  }


  a {
    color: white;
  }

  .navigation-wrapper {
    display: flex;
    flex-direction: row;

    padding-bottom: 0.5rem;

    @include small {
      flex-direction: column;
    }

    @include medium {
      flex-direction: column;
    }

    > * {
      flex: 1;
    }

    .links {
      margin: 0;

      flex: 1;
      list-style-type: none;
      padding-left: 0;

      li {
        display: inline;
        margin-left: 1rem;
      }
    }

    .menu-links {
      flex: 2;
      font-weight: bold;

      padding-bottom: 1rem;

      @include large {
        padding-bottom: inherit;
      }
    }

    .end-links {
      @include large {
        display: flex;
        justify-content: end;
      }
    }
  }
}

.home-personal {
  @extend .main-content;

  display: flex;
  flex-direction: row;

  @include small {
    flex-direction: column;
    padding: 1rem 1rem;
  }

  @include medium {
    padding: 2rem 1rem;
  }

  @include large {
    padding: 2rem 1rem;
    max-width: 72rem;
  }


  .photo {
    flex: 1;

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }

    figcaption {
      text-align: center;
    }

    @include small {
      padding-bottom: 1rem;
    }

    @include large {
      padding-right: 2rem;
      width: 150rem;
    }

    @include medium {
      padding-right: 1rem;
      width: 100rem;
    }
  }

  .home-content {
    flex: 2;
  }

  .social-links {
    list-style-type: none;
    font-size: 2rem;
    padding: 0;

    li {
      float: left;
      margin-right: 1rem;
    }
  }
}
