.index-bg {
  color: $header-heading-color;
  background-color: $header-bg-color;
  background-image: linear-gradient(120deg, $header-bg-color-secondary, $header-bg-color);
  min-height: 100%;
  overflow: hidden;

  text-align: center;

  h1, h2 {
    margin: 0;
  }

  h2 {
    @include large {
      font-size: 4rem;
    }

    @include medium {
      font-size: 4rem;
    }

    @include small {
      font-size: 3rem;
    }
  }

  ul {
    list-style-type: none;

    a {
      color: white;
      font-size: 2em;
      width: 550px;

      @include small {
        width: 90%;
      }
    }
  }

  .translation {
    height: 100px;
    margin-top: 50px;
  }

  .welcome {
    padding-top: 25px;
    height: 140px;
    span::before {
      content: "Welcome!";
      animation-delay: 1s;
      animation-duration: 10s;
      animation-name: opacity, text;
      animation-timing-function: ease-in-out, step-end;
      animation-iteration-count: infinite;
      animation-direction: normal;
      animation-fill-mode: both;
    }

    @keyframes opacity {
      0% { opacity: 100%; }

      8% { opacity: 0%; }

      16% { opacity: 100%; }

      42% { opacity: 100%; }

      50% { opacity: 0%; }

      58% { opacity: 100%; }

      75% { opacity: 100%; }

      83% { opacity: 0%; }

      91% { opacity: 100% }

      100% { opacity: 100%; }
    }

    @keyframes text {
      8% { content: "Рәхим итегез!"; }

      50% { content: "Добро пожаловать!"; }

      83% { content: "Welcome!"; }
    }
  }
}
