---
include_in_sitemap: false
rewrite_post_write: 1
---
@import "@fontsource-variable/roboto-slab";

@import "assets/css/rouge-github.css";

object.plantuml {
		@apply max-w-full;
		@apply mx-auto;
		@apply h-auto;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .vlink {
        @apply visited:text-[revert];
        @apply underline;
        @apply text-clink;
    }

    .before-slash:before {
        content: "/";
    }
}
