---
layout: with-header-footer
---
<div class="max-w-prose mx-auto">
  {% include nav-breadcrumbs.html %}
</div>

<div
  vocab="https://schema.org/"
  property="mainEntity"
  typeof="Person"
  resource="/#i"
>
  <div class="max-w-prose mx-auto">
    <header>
      <div class="prose">
        <meta property="givenName" content="{{  page.about.given_name }}">
        <meta property="familyName" content="{{  page.about.family_name }}">
        <h1 property="name">{{ page.about.name }}</h1>
      </div>
      <div class="italic">
        <time
          class="inline-block mr-4"
          datetime="{{ page.date | date_to_xmlschema }}"
          property="dateCreated"
          about=""
        >
          {% include date.html date=page.date %}
        </time>
        {% if page.last_modified_at %}
          <span class="inline-block">
            {{ site.data.i18n.posts.last_modified[page.lang] }}:
            <time
              datetime="{{ page.last_modified_at | date_to_xmlschema }}"
              property="dateModified"
              about=""
            >
              {% include date.html date=page.last_modified_at %}
            </time>
          </span>
        {% endif %}
      </div>
    </header>
  </div>

  <div class="flex flex-col max-w-prose mx-auto xl:max-w-none xl:flex-row">
    <div class="flex-1">
    </div>

    <div class="prose mx-auto order-1 xl:order-none">
      {{ content }}
    </div>

    <div class="flex-1">
      <table class="bg-gray-50 table-fixed w-full xl:w-[unset]">
        <caption class="bg-ghaze-600 font-serif text-white text-l">
          {{ site.data.i18n.about.links-and-contacts[page.lang] }}
        </caption>
        <tbody class="[&>tr>td]:px-2 [&>tr>td]:py-1 [&>tr>td>a]:text-clink [&>tr>td>a:hover]:underline">
          <tr>
            <td>
              {{ site.data.i18n.about.personal-website[page.lang] }}
            </td>
            <td>
              <a property="url" href="https://imustafin.tatar">
                imustafin.tatar
              </a>
            </td>
          </tr>
          <tr>
            <td>ORCID iD</td>
            <td>
              <a
                href="https://orcid.org/0009-0007-0476-5966"
                class="inline"
                property="sameAs"
              >
                <img alt="ORCID logo" src="/assets/orcid_16x16.webp" width="16" height="16"
                     class="not-prose mx-[4px] w-[16px] h-[16px] inline align-baseline"/>
                0009-0007-0476-5966
              </a>
            </td>
          </tr>
          <tr>
            <td>
              {{ site.data.i18n.about.github[page.lang] }}
            </td>
            <td>
              <a property="sameAs" href="https://github.com/imustafin">
                imustafin
              </a>
            </td>
          </tr>
          <tr>
            <td>
              {{ site.data.i18n.about.linkedin[page.lang] }}
            </td>
            <td>
              <a property="sameAs" href="https://www.linkedin.com/in/imustafin/">
                imustafin
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>


</div>
