<!DOCTYPE html>
{% if page.lang %}
  <html lang="{{ page.lang }}">
{% else %}
  <html>
{% endif %}
  <head>
    <meta charset="UTF-8">

    {% assign pages=site.pages | where:"ref", page.ref | sort: "lang" %}
    {% assign posts=site.posts | where:"ref", page.ref | sort: "lang" %}
    {% assign everything=pages | concat: posts %}
    {% for page in everything %}
      {% if page.lang %}
        {% assign lang=page.lang %}
      {% else %}
        {% assign lang="x-default" %}
      {% endif %}
      <link rel="alternate" hreflang="{{ lang }}" href="{{ page.url | absolute_url }}" />
    {% endfor %}

    {% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

    <script src="https://kit.fontawesome.com/e53ce92d09.js" crossorigin="anonymous"></script>
  </head>
  <body>
    {{ content }}
  </body>
</html>
