<!DOCTYPE html>
{% if page.lang %}
  <html lang="{{ page.lang }}">
{% else %}
  <html class="min-h-svh">
{% endif %}
  <head>
    <meta charset="UTF-8">

    {% assign pages=site.pages | where:"ref", page.ref | sort: "lang" %}
    {% assign posts=site.posts | where:"ref", page.ref | sort: "lang" %}
    {% assign everything=pages | concat: posts %}
    {% for page in everything %}
      {% if page.lang %}
        {% assign lang=page.lang %}
      {% else %}
        {% assign lang="x-default" %}
      {% endif %}
      <link rel="alternate" hreflang="{{ lang }}" href="{{ page.url | absolute_url }}" />
    {% endfor %}

    {% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/old.css' | relative_url }}">

    <script src="https://kit.fontawesome.com/e53ce92d09.js" crossorigin="anonymous"></script>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="apple-mobile-web-app-title" content="imustafin.tatar">
    <meta name="application-name" content="imustafin.tatar">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body class="text-[#374151]">
    {{ content }}
  </body>
</html>
