---
layout: with-header-footer
---
<section class="home-personal">
  <figure class="photo">
    <img src="/assets/ilgiz_in_topkapi.jpg" alt="{{ site.data.i18n.home.photo-caption[page.lang] }}" />
    <figcaption>{{ site.data.i18n.home.photo-caption[page.lang] }}</figcaption>
  </figure>

  <div class="home-content">
    {{ content }}

    <ul class="social-links">
			<li><a href="https://t.me/imustafin" target="_blank" title="Telegram"><i class="fa fa-telegram"></i></a></li>
			<li><a href="https://github.com/imustafin" target="_blank" title="GitHub"><i class="fa fa-github"></i></a></li>
			<li><a href="https://www.linkedin.com/in/ilgiz-mustafin-288b99178" title="LinkedIn"><i class="fa fa-linkedin"></i></a></li>
		</ul>
  </div>
</section>

<section class="main-content">
  <h1>{{ site.data.i18n.home.latest-posts[page.lang] }}</h1>

  <ul class="post-list">
  {% for post in site.posts %}
    <li>
      <article>
        <h2>
          <a
            class="post-link"
            href="{{ post.url | absolute_url }}"
            title="{{ post.title }}"
          >
            {{ post.title | escape }}
          </a>
        </h2>
        <span class="post-meta">
          <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
            {% include date.html date=post.date %}
          </time>
          {% if post.last_modified %}
          <span class="post-last-modified">
            {{ site.data.i18n.posts.last_modified[page.lang] }}:
            <time datetime="{{ post.last_modified | date_to_xmlschema }}" itemprop="dateModified">
              {% include date.html date=post.last_modified %}
            </time>
          </span>
          {% endif %}
        </span>

        {{ post.excerpt | markdownify }}
      </article>
    </li>
    {% endfor %}
  </ul>
</section>
