---
layout: default
---
<article class="max-w-prose" itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <div class="prose">
      <h1 itemprop="name headline">{{ page.title | escape }}</h1>
    </div>
    <div class="italic">
      <time class="inline-block mr-4" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% include date.html date=page.date %}
      </time>
      {% if page.last_modified_at %}
        <span class="inline-block">
          {{ site.data.i18n.posts.last_modified[page.lang] }}:
          <time datetime="{{ page.last_modified_at | date_to_xmlschema }}" itemprop="dateModified">
            {% include date.html date=page.last_modified_at %}
          </time>
        </span>
      {% endif %}
    </div>
  </header>

  <div itemprop="articleBody" class="prose mt-4">
    {{ content }}
  </div>
</article>
